body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section { /* Kui tahad, et teemad paikneksid vasakul, mitte keskel, siis kustuta see ära. */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Keskendab teksti horisontaalselt */
}
  
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Uus rida - tõstab footeri lehekülje alla */
}

table {
    /* Add 30 pixels gap between "Tähis" and "Definitsioon" columns */
    border-collapse: collapse; /* Optional: To collapse the border spacing */
  
  }
  
  th, td {
    padding-right: 30px; /* Adjust the value as needed */
  }
  

.Maatriksid2\.2 {
    width: 650px;
    margin-top: 10px;
}

.galerii {
    width: 100%;
    max-width: 1800px;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.galerii-osa {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galerii-osa img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.galerii-osa:hover img {
    transform: scale(0.95);
}

#fadeContainer {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

#fadeContainer.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#tagasiNupp {
    text-decoration: none;
    color: white;
    margin-right: 2000px; /* Lisa soovitud parempoolne vahemik vastavalt kujundusele */
    background-color: #333; /* Taustavärv */
    padding: 8px 15px; /* Lisa vajalik padding, et muuta ristküliku suurust */
    border-radius: 5px; /* Nurkade ümardamine */
}